<div>
    <text-field context="personalData.name"></text-field>
    <text-field context="personalData.surname"></text-field>
    <text-field context="objectArray.0.name"></text-field>
    <br>
    <list-control context="objectArray">
        <div>
            <label-control context="name"></label-control>
        </div>
    </list-control>
</div>